@import "~source-sans-pro/source-sans-pro.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~@angular/material/theming";
@import "~font-awesome/css/font-awesome.min.css";

@include mat-core();

// $mat-pine-green: (
//     50: #e3eeec,
//     100: #b8d4d0,
//     200: #89b7b1,
//     300: #5a9a92,
//     400: #36857a,
//     500: #136f63,
//     600: #11675b,
//     700: #0e5c51,
//     800: #0b5247,
//     900: #064035,
//     A100: #76ffe2,
//     A200: #43ffd7,
//     A400: #10ffcc,
//     A700: #00f6c1,
//     contrast: (
//         50: $light-primary-text,
//         100: $light-primary-text,
//         200: $light-primary-text,
//         300: $light-primary-text,
//         400: $light-primary-text,
//         500: $light-primary-text,
//         600: $light-primary-text,
//         700: $light-primary-text,
//         800: $light-primary-text,
//         900: $light-primary-text,
//         A100: $light-primary-text,
//         A200: $light-primary-text,
//         A400: $light-primary-text,
//         A700: $light-primary-text,
//     ),
// );

$primary: mat-palette($mat-indigo, 600, 500, 900);
$accent: mat-palette($mat-pink, 700, 500, 900);
$warn: mat-palette($mat-red, 800, 100, 900);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

/* ------------> dark theme <----------- */
.dark-theme {
    color: $light-primary-text;
    $dark-primary: mat-palette($mat-blue-grey, 500, 500, 900);
    $dark-accent: mat-palette($mat-yellow, 700, 500, 900);
    $dark-warn: mat-palette($mat-orange, 100, 100, 900);
    $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
    @include angular-material-theme($dark-theme);
}

/*
 tonal value
($mat-pink, 100, 500, 900)
*/

$custom-typography: mat-typography-config(
    $font-family: "Source Sans Pro",
);

@include angular-material-typography($custom-typography);
