:root {
    --primary-color: #131921;
    --side-nav: #3b4748;
    --active-route: #08bdca;
    --primary-bgColor: #0097a7;
    --active-route-dark: #fbc02d;
}

$forground: #84c9fb;
$background-color: #363636;
