mat-sidenav {
    width: 250px;
}

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100vh;
}

.mat-nav-list {
    margin-top: 60px;
}

mat-toolbar {
    position: fixed;
    z-index: 999;
    top: 0px;
}

.logo {
    height: 34px !important;
    object-fit: contain;
    padding-left: 20px;
    outline: none;
}

.main-content {
    overflow-y: auto;
    height: 100vh;
}

.router-link-active {
    border-left: crimson 4px solid;
}
