<progress-bar></progress-bar>

<article *ngIf="sessionUser">
    <mat-toolbar color="primary">
        <mat-icon (click)="sidenav.toggle()" style="cursor: pointer"> menu </mat-icon>

        <div class="logo">
            <span> Logo </span>
        </div>

        <span class="mat-spacer"></span>

        <button mat-icon-button (click)="confirmLogout()">
            <mat-icon>power_settings_new</mat-icon>
        </button>
    </mat-toolbar>
</article>

<mat-sidenav-container>
    <mat-sidenav
        #sidenav
        role="navigation"
        [opened]="screenWidth > 840 && sessionUser"
        [mode]="screenWidth > 840 ? 'side' : 'over'"
    >
        <mat-nav-list>
            <mat-list-item> DASHBOARD </mat-list-item>
            <mat-divider></mat-divider>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <main class="main-content">
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
