table {
    width: 100%;
}

.mat-elevation-z8 {
    overflow-x: auto;
}

.picture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #0097a7;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
